{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browser": [
            "last 2 versions"
          ]
        },
        "modules": false
      }
    ],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-class-properties",
    "transform-decorators-legacy"
  ]
}