doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Login
    link(href='/assets/bootstrap.min.css', rel='stylesheet')
    link(href='/assets/signin.css', rel='stylesheet')
    script.
      window.bgImages = !{images};
  body
    if (!authed)
      .container
        form.form-signin(method='post', action='/')
          h2.form-signin-heading Please Log In
          label.sr-only(for='username') Username
          input#username.form-control(type='text', placeholder='Username', required='required', autofocus='', name='username')
          label.sr-only(for='password') Password
          input#password.form-control(type='password', placeholder='Password', required='required', name='password')
          button.btn.btn-lg.btn-primary.btn-block(type='submit') Login
    else
      .container.text-center
        a(href='/admin').btn.btn-lg.btn-danger Dashboard
        hr
        a(href='/logout').btn.btn-md.btn-warning Logout
    script(src='/assets/login.min.js')