.App {
  text-align: left;
  margin: 0 auto;
}

.form-inline .form-group {
  padding-right: 10px;
}

.form-group .control-label {
  font-weight: bold;
}

.form-group legend {
  font-size: 1.5em;
}

.sidenav-custom {
  height: 100%;
  display: block;
  position: fixed;
  width: inherit;
  margin: 0;
  left: 0;
  padding: 0;
}