.App {
  text-align: left;
  margin: 0 auto;
}

.form-inline .form-group {
  padding-right: 10px;
}

.form-group .control-label {
  font-weight: bold;
}

.form-group legend {
  font-size: 1.5em;
}

.sidenav-custom {
  height: 100%;
  display: block;
  position: fixed;
  width: inherit;
  margin: 0;
  left: 0;
  padding: 0;
}

form {
  font-family: Mukti, sans-serif !important;
}

.sidenav-custom a[href*=logout]:hover {
  text-decoration: none;
}

.sidenav-custom a[href*=logout] {
  color: #333;
}
.sidenav-custom a[href*=logout]:focus,
.sidenav-custom a[href*=logout]:active,
.sidenav-custom a[href*=logout]:hover {
  color: #f12;
}

.sidenav-custom > div > div:nth-child(4):hover div a {
  color: #f12;
}

.sidenav-custom #mujib {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#banner {
  width: 80%;
  height: 200px;
  margin: 5px auto;
}