@font-face {
  font-family: 'Mukti';
  src: url('/assets/fonts/Mukti.eot');
  src: url('/assets/fonts/Mukti.woff') format('woff'),
       url('/assets/fonts/Mukti.ttf') format('truetype'),
       url('/assets/fonts/Mukti.svg#Mukti') format('svg'),
       url('/assets/fonts/Mukti-iefix.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}