@font-face {
  font-family: 'Mukti';
  src: url('https://cors-anywhere.herokuapp.com/https://fonts.maateen.me/mukti/Mukti.eot');
  src: url('https://cors-anywhere.herokuapp.com/https://fonts.maateen.me/mukti/Mukti.woff') format('woff'),
       url('https://cors-anywhere.herokuapp.com/https://fonts.maateen.me/mukti/Mukti.ttf') format('truetype'),
       url('https://cors-anywhere.herokuapp.com/https://fonts.maateen.me/mukti/Mukti.svg#Mukti') format('svg'),
       url('https://cors-anywhere.herokuapp.com/https://fonts.maateen.me/mukti/Mukti.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}